[Desktop Entry]
Type=Application
X-Nemo-Application-Type=silica-qt5
Icon=harbour-tracks
Exec=harbour-tracks
Name=Tracks
# translation example:
# your app name in German locale (de)
#
# Remember to comment out the following line, if you do not want to use
# a different app name in German locale (de).
Name[fi_FI]=Tracks
Name[fr_FR]=Tracks
